$sidebar-bg-color: linear-gradient(
  315deg,
  rgba(10, 188, 249, 0.8) 0%,
  rgba(44, 105, 209, 0.8) 74%
);
$submenu-bg-color: rgba(216, 211, 228, 0.05);
$submenu-bg-color-collapsed: #101011;
$sidebar-color: #56535a;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(58, 13, 163, 0.05);

/* $sidebar-bg-color: linear-gradient(to bottom right, rgb(200, 198, 240), rgb(141, 150, 140)); */
 $sidebar-bg-color:#fefeff;
//  linear-gradient( to top, #fefeff, #97aa8e, #98aa83, #879170 , #879170);
$submenu-bg-color: 
linear-gradient( to top, #fefeff, #97aa8e, #adbe97, #879170 , #879170);
$submenu-bg-color-collapsed: #ebf1fa;

$sidebar-color: #161718;
$highlight-color: #191a1b;
$icon-bg-color: #0d0d0e;
$icon-size: 35px;

.pro-sidebar > .pro-sidebar-inner{
  background-color: #cbd5d5;
}



.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-radius: 7px;
 /*  background-image: linear-gradient(to bottom, rgb(163, 160, 234), rgb(185, 204, 184)); */
}

.pro-sidebar-header h1{
  padding-top: 20px;
  // font-family :Arial, Helvetica, sans-serif;
  font-family :Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color:var(--b-color) ;
}

.pro-sidebar-footer {
  color: var(--b-color);
}

.pro-sidebar {
  border-left: 1px solid var(--b-color);
  // box-shadow: 10px 10px 5px 0px #b6b8bb;
    // -webkit-box-shadow: 10px 10px 5px 0px #b6b8bb;
    // -moz-box-shadow: 10px 10px 10px 10px #b6b8bb;
}


.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  padding-bottom: 6rem
}
.aboAli{
  background-color: #117a8b;
  color: white;
  margin-right: 10px;
}


div.ulItems:hover {
background-color: var(--b-color);
border-radius: 6px;
color: var(--w-color)
}

.ulItems:focus{
  background-color: var(--b-color);
  border-radius: 6px;
  color: var(--w-color);
  background-color: var(--b-color);
  
  }
  // div.ulItems MenuItem link{
  //   color: red
  // }


// .pro-sidebar .pro-menu a:hover{
  // color: var(--w-color) ;
  // background-color: var(--b-color);
// }
// MenuItem{

// }
@import "~react-pro-sidebar/dist/scss/styles.scss";
body {
  margin: 0;
  height: 100vh;
  color: #5b26bd;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;

    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      color: #d31010;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;

      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
        font-family :Arial, Helvetica, sans-serif;
      }
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    border-radius: 50px;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    // background: #d63030;
  }
  &.gray {
    color: #ffffff;
    // background: #777777;
  }
  &.yellow {
    color: #000000;
    // background: #ffd331;
  }
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  overflow-y: hidden;
  overflow-x: hidden;
  // border-color: #d31010;
}
