.checkStyle-group {
  width: 100%;
  margin: auto;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.checkStyle {
  width: 20%;
  border: 2px solid rgb(187, 181, 181);
  margin: 2vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.checkStyle-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 3px #bbb5b5;
  margin: 0 1rem 1rem 1rem;
}
.rowclass {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
